# Binaries
*.exe
/bin/

# Env
.env
.env.local

# IDE
.idea/
*.iml
.vscode/

# Go
/vendor/

# Build artifacts, air config (make dev)
build/
# Infra не хранится в проекте (клонируется во временную папку при make proto-build)
infra/

# OS
.DS_Store
Thumbs.db

promt.txt
/docs_promt/
